<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="book-flight-2-passangers">
        <parameter name="noOfPassengers" value="2"/>
        <parameter name="expectedPrice" value="$1169 USD"/>
        <classes>
            <class name="com.newtours.tests.BookFlightTest"/>
        </classes>
    </test>
</suite>